@import './nullstyle.scss';
@import '../fonts/stylesheet.scss';

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Graphik LCG', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.content {
	max-width: 1240px;
	padding: 0 20px;
	margin: auto;
}

.title {
	font-weight: 600;
	font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
	line-height: 140%;
	text-align: center;
	color: #000;
	margin-bottom: clamp(1.625rem, 1.188rem + 2.19vw, 3.813rem);
}
