@font-face {
	font-family: 'Graphik LCG';
	src: url('regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik LCG';
	src: url('semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
